.whole {
  margin: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  background-color: #f9f4ee;
  font-size: 1.2rem;
  padding-left: 50px;
  padding-right: 50px;
}

.header:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #eae7e2;
  padding: 30px;
  height: 300px;
}

.ingredients {
  width: 30%;
  height: 100%;
  overflow: auto;
}

.steps {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.heading {
  margin-bottom: 10px;
}

.buttons {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.buttons button {
  width: 90px;
}

.buttons #update-btn {
  background-color: #5f7aff;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
}

.buttons #delete-btn {
  background-color: #ec4747;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
}
