* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  background-color: #ffffff;
  font-size: 1.2rem;
  padding-left: 50px;
  padding-right: 50px;
  border-top: 1px solid rgb(187, 186, 186);
}

.header:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f0e8ff;
  padding: 30px;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 0.3em;
}
