* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.select .select__control {
  width: 600px;
}
