* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

#topContainer {
  width: 50%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#topContainer button {
  background-color: #8000ff;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.3em;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#bottomContainer {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bottomContainer input {
  width: 80%;
  height: 70px;
  font-size: 1em;
  padding-left: 10px;
  border: none;
  border-radius: 0.3em;
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#bottomContainer textarea {
  width: 80%;
  height: 250px;
  outline: none;
  resize: none;
  overflow: auto;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 0.3em;
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#bottomContainer button {
  background-color: #8000ff;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  width: 80%;
  border-radius: 0.3em;
  margin-top: 30px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#bottomContainer label {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 80%;
}
